@import url('./comments/comments.css');
#wrapper{
	
	width: 500px;
	margin: 0px auto;
	padding: 10px;
	
	text-align: justify;
}
.container-image{
	width: 100px;
	height: 100px;
box-sizing: content-box;
overflow: hidden;
}






.image{
	max-width:  50px;
	min-height: 50px;
	border-radius: 50%;
	margin-bottom: 20px;
}
#wrapper p{
	margin-bottom: 5px;
}
.display{
	display: none;
}
.date{
	
	font-weight: bold;
	margin-right: 10px;
}
.text{
	width: 200px;
	display: flex;
	flex-wrap: wrap;
}
.name{
	font-size: 12pt;
}


textarea.form-control{
	width: 100%;
	padding: 5px 10px;
	min-height: 200px;
	resize: vertical;
	text-align: justify;
	
}